body{
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('./fonts/Comfortaa.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-SemiBoldItalic.ttf') format('truetype');
}